
DATABASE_URL="postgresql://test_js69_user:g******************************/test_js69?sslmode=require"


// Server configuration
NODE_ENV=development

// Admin user credentials for seeding
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin


// Client URL for Email reset link and CORS configuration
CLIENT_URL= frontend URL for CORS configuration and email reset link, e.g. https://myfrontend.com

# BetterAuth
BETTER_AUTH_SECRET="7************************************************"
BETTER_AUTH_URL="http://localhost:3500" # or your production URL

# Frontend
FRONTEND_URL="https://yourdomain.com"

# OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Email
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxxx"
RESEND_FROM_NAME="Crystal Vote"
# No domain yet — use Resend's shared test address
RESEND_FROM_EMAIL="onboarding@resend.dev"
// Server configuration
NODE_ENV=development

// Admin user credentials for seeding
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin


// Package configuration
     "devDependencies": {
    "nodemon": "^3.1.14",
    "prisma": "^7.6.0"
  },
  "dependencies": {
    "@better-auth/prisma-adapter": "^1.6.1",
    "@prisma/adapter-pg": "^7.6.0",
    "@prisma/client": "^7.6.0",
    "better-auth": "^1.6.1",
    "cookie-parser": "^1.4.7",
    "cors": "^2.8.6",
    "dotenv": "^17.3.1",
    "express": "^5.2.1",
    "express-async-handler": "^1.2.0",
    "http-status-codes": "^2.3.0",
    "morgan": "^1.10.1",
    "pg": "^8.20.0",
    "resend": "^6.10.0",
    "winston": "^3.19.0",
    "winston-daily-rotate-file": "^5.0.0",
    "zod": "^4.3.6"
  }

// Auto-generated Auth Endpoints
Method End point Purpose 
POST /api/auth/sign-up/email
POST /api/auth/sign-in/email
POST /api/auth/sign-out
GET  /api/auth/session

GET  /api/auth/sign-in/:provider
GET  /api/auth/callback/:provider

POST /api/auth/forgot-password
POST /api/auth/reset-password

GET  /api/auth/verify-email
